@import "../../sass/variables/colors";
@import "../../sass/variables/font";

//Headings
@mixin h1() {
  font-family: $font-primary;
  font-size: $font-size-xxx-large;
  @media only screen and (min-width: 768px) {
    font-size: $font-size-xxxxx-large;
  }
}

@mixin h2() {
  font-family: $font-primary;
  font-size: $font-size-xxxx-large;
}

@mixin h3() {
  font-family: $font-primary;
  font-size: $font-size-xxx-large;
}

@mixin h4() {
  font-family: $font-secondary;
  font-size: $font-size-x-large;
}

@mixin h5() {
  font-family: $font-secondary;
  font-size: $font-size-large;
}

//Paragraphs
@mixin p1() {
  font-family: $font-secondary;
  font-size: $font-size-large;
}
