.internal-server {
  height: 110px;
  color: #B71C1C;
  font-family: "Josefin Sans";
  font-size: 30px;
  letter-spacing: 0;
  line-height: 37px;
  text-align: center;
  margin: auto auto;
    .error-code {
      font-size: 60px;
      font-weight: 500;
    }
  }

.error-text {
    margin: 0px auto;
    width: 55%;
}

.mbs-button-secondary {
  text-transform: uppercase;
  min-height: 40px;
}
