//White
$white-60: rgba(255, 255, 255, 0.6);
$white-two: #e4e4e4;
$white-three: #f3f3f3;
$white-five: #f5f5f5;
$white-six: #e5e5e5;
$white-seven: #e7e7e7;
$white-eight: #f1f1f1;
//Black
$black-two: #303030;
$black-three: #333333;
$black-four: #151515;
$black-five: #1c1c1c;
$black-10: rgba(0, 0, 0, 0.1);
$black-three-60: rgba(51, 51, 51, 0.6);
//Greyish
$greyish: #4B5050;
$greyish-two: #b2b2b2;
$greyish-three: #aaaaaa;
$greyish-four: #acacac;
$warm-grey: #9e927c;
$warm-grey-two: #717171;
$warm-grey-three: #7a7a7a;
$warm-grey-four: #959595;
$light-grey: #f1eee6;
$brownish-grey: #4B5050;
$greyish-brown-two: #454545;
$pinkish-grey: #dcd5cb;
$pinkish-grey-two: #cccccc;
$pinkish-grey-three: #d0d0d0;
$pinkish-grey-four: #c5c5c5;
$dark-grey-blue: #283557;
//Tan
$tan: #002c5F;
//Sand
$sand: #002c5F;
$sand-two: #CEA655;
$sand-three: #2a6ebb;
$sand-four: #002c5F;
$sand-five: #867450;
$sand-brown: #D2AD49;
//Burnt
$burnt-sienna: #A70240;
//Desert
$desert: #002c5F;
//Brick
$brick: #b71c1c;
//Green
$medium-green: #419f37;
