<div name="MultiRoomBanner" class="{{isPromoOrSpecialsFlow ? 'promo-banner' :'banner'}}">
  <div class="row col-sm-12 banner-outlet">
    <div class="row col-sm-4 card-outlet pr-0 pr-sm-2" *ngFor="let room of roomsBooked" id="{{'DIV-'+room.roomNo}}">
      <div class="card banner-card {{RTL_Flag ? 'text-right':''}}">
        <div class="vl">
          <div class="row">
            <div class="col-sm-11 banner-title">
              <b><span [innerHTML]="room.roomType | safeHtml"></span><span *ngIf="room.roomView">&nbsp;-&nbsp;<span [innerHTML]="room.roomView | safeHtml"></span></span></b>
            </div>
            <div class="cols-sm-1 {{RTL_Flag ? 'mr-auto':'ml-auto'}}">
              <button type="button" class="control-focus close justify-content-end" aria-label="Close" (click)="hideRoom(room)">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div>
            <small><span [innerHTML]="room.bedTypeName | safeHtml"></span>&nbsp;|&nbsp;<span [innerHTML]="localeObj.tf_1_Calendar_rateCalender_room | safeHtml"></span>&nbsp;<span [innerHTML]="room.roomNo | safeHtml"></span>:&nbsp;<span [innerHTML]="room.adults | safeHtml"></span>
              <span *ngIf="room.adults === 1">&nbsp;<span [innerHTML]="localeObj.tf_1_Calendar_rateCalender_adult | safeHtml"></span></span>
              <span *ngIf="room.adults > 1">&nbsp;<span [innerHTML]="localeObj.tf_1_Calendar_rateCalender_adults | safeHtml"></span></span>
              <span *ngIf="room.tf_1_Calendar_rateCalender_children > 0"><span [innerHTML]="localeObj.tf_3_MultiRoom_packageListing_comma || ',' | safeHtml"></span>&nbsp;<span [innerHTML]="room.children | safeHtml"></span>
                <span *ngIf="room.tf_1_Calendar_rateCalender_children === 1">&nbsp;<span [innerHTML]="localeObj.tf_2_RoomList_ratePlans_child | safeHtml"></span></span>
                <span *ngIf="room.tf_1_Calendar_rateCalender_children > 1">&nbsp;<span [innerHTML]="localeObj.tf_1_Calendar_rateCalender_children | safeHtml"></span></span>
              </span>
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row col-sm-4 card-outlet pr-0 pr-sm-2" *ngIf="roomBookingOrder.length > 0 && isReSelection">
      <div class="card reselection banner-card">
        <div>
          <b><span [innerHTML]="localeObj.tf_3_MultiRoom_banner_chooseRoom | safeHtml"></span>&nbsp;<span [innerHTML]="roomBookingOrder[0] + 1 | safeHtml"></span></b>
        </div>
        <div>
          <span *ngIf="checkInSummary.guests[roomBookingOrder[0]].adults === 1"><span [innerHTML]="checkInSummary.guests[roomBookingOrder[0]].adults | safeHtml"></span>&nbsp;<span [innerHTML]="localeObj.tf_1_Calendar_rateCalender_adult | safeHtml"></span></span>
          <span *ngIf="checkInSummary.guests[roomBookingOrder[0]].adults > 1"><span [innerHTML]="checkInSummary.guests[roomBookingOrder[0]].adults | safeHtml"></span>&nbsp;<span [innerHTML]="localeObj.tf_1_Calendar_rateCalender_adults | safeHtml"></span></span>
          <span *ngIf="checkInSummary.guests[roomBookingOrder[0]].children > 0"><span [innerHTML]="localeObj.tf_3_MultiRoom_packageListing_comma || ',' | safeHtml"></span>&nbsp;<span [innerHTML]="checkInSummary.guests[roomBookingOrder[0]].children | safeHtml"></span>
            <span *ngIf="checkInSummary.guests[roomBookingOrder[0]].children === 1">&nbsp;<span [innerHTML]="localeObj.tf_2_RoomList_ratePlans_child | safeHtml"></span></span>
            <span *ngIf="checkInSummary.guests[roomBookingOrder[0]].children > 1">&nbsp;<span [innerHTML]="localeObj.tf_1_Calendar_rateCalender_children | safeHtml"></span></span>
          </span>
        </div>
      </div>
    </div>
    <div class="banner-display" *ngIf="roomBookingOrder.length > 0 && !isReSelection">
      <div class="card">
        <div>
          <b><span [innerHTML]="localeObj.tf_3_MultiRoom_banner_chooseRoom | safeHtml"></span>&nbsp;<span [innerHTML]="roomBookingOrder[0] + 1 | safeHtml"></span></b>
        </div>
        <div>
          <span *ngIf="checkInSummary.guests[roomBookingOrder[0]].adults === 1"><span [innerHTML]="checkInSummary.guests[roomBookingOrder[0]].adults | safeHtml"></span>&nbsp;<span [innerHTML]="localeObj.tf_1_Calendar_rateCalender_adult | safeHtml"></span></span>
          <span *ngIf="checkInSummary.guests[roomBookingOrder[0]].adults > 1"><span [innerHTML]="checkInSummary.guests[roomBookingOrder[0]].adults | safeHtml"></span>&nbsp;<span [innerHTML]="localeObj.tf_1_Calendar_rateCalender_adults | safeHtml"></span></span>
          <span *ngIf="checkInSummary.guests[roomBookingOrder[0]].children > 0"><span [innerHTML]="localeObj.tf_3_MultiRoom_packageListing_comma || ',' | safeHtml"></span><span [innerHTML]="checkInSummary.guests[roomBookingOrder[0]].children | safeHtml"></span>
            <span *ngIf="checkInSummary.guests[roomBookingOrder[0]].children === 1">&nbsp;<span [innerHTML]="localeObj.tf_2_RoomList_ratePlans_child | safeHtml"></span></span>
            <span *ngIf="checkInSummary.guests[roomBookingOrder[0]].children > 1">&nbsp;<span [innerHTML]="localeObj.tf_1_Calendar_rateCalender_children | safeHtml"></span></span>
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="roomBookingOrder.length === 0" class="pt-20 {{RTL_Flag ? 'mr-auto':'ml-auto'}} mbs-button-primary-wrapper">
      <button *ngIf="!isPromoOrSpecialsFlow" id = "r_link_view_av_offers" class="control-focus btn mbs-button-primary" (click)="onMultiRoomSelected($event)">
        <span [innerHTML]="localeObj.tf_3_MultiRoom_roomList_button_availableOffers | safeHtml"></span>
      </button>
      
      <button *ngIf="isPromoOrSpecialsFlow" id = "r_link_view_av_offers" class="control-focus btn mbs-button-primary" (click)="onPromoMultiRoomSelected($event)">
        <span [innerHTML]="localeObj.tf_3_MultiRoom_promoSpecials_button_book | safeHtml"></span>
      </button>
    </div>
  </div>
</div>
