@import "../mixins/typography";

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

h4 {
  @include h4();
}

h5 {
  @include h5();
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  color: $black-five;
  letter-spacing: 0.075rem;
}
