@import "../../sass/variables/colors";

.br-pg-three-1x {
  border-right: 1px solid $pinkish-grey-three;
}

.br-black-three-1x {
  border-right: 1px solid $black-three;
}

.br-tan-3x {
  border-right: 3px solid $tan;
}

.bb-g-two-3y {
  border-bottom: solid 3px $greyish-two;
}
