@import "../../sass/variables/colors";
@import "../../sass/variables/font";

.mbs-radio-primary {
  input {
    display: none;
    &:checked + .radio {
      background-color: $tan;
      background-image: url(/assets/icons/input-checkmark-checked.svg);
      background-repeat: no-repeat;
      background-position: 45%;
      background-size: 14px;
      border: none;
    }
  }
  .radio {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid $greyish-four;
    border-radius: 50%;
  }
}

.mbs-checkbox-primary {
  input {
    display: none;
    &:checked + label {
      &:before {
        background-color: $tan;
        background-image: url(/assets/icons/input-checkmark-checked.svg);
        background-repeat: no-repeat;
        background-position: 45%;
        background-size: 14px;
        border: none;
      }
    }
  }
  label {
    position: relative;
    padding-left: 30px;
    &:before {
      position: absolute;
      left: 0;
      content: '';
      width: 21px;
      height: 21px;
      border: 1px solid $greyish-four;
      border-radius: 5px;
    }
  }
}

.mbs-select-primary {
  position: relative;
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    border: 0;
    padding: 10px 25px 10px 0;
    font-family: $font-secondary;
    font-size: $font-size-medium;
    color: $black-five;
    &::-ms-expand {
      display: none;
    }
  }
  &:after {
    content : "\f107";
    font-family: FontAwesome;
    color: #002c5F;
    position: absolute;
    top: 25%;
    z-index: 1;
    right: 5px;
    pointer-events: none;
  }
}
