<div class="outlet-container">
  <div class="mt-30">
    <h4 class="modal-title txt-xxx-lg-jb lh-32 txt-black mb-3 text-uppercase" [innerHTML]="localeObj.tf_Header_Commons_maintenance_pageTitle | safeHtml"></h4>
  </div>
  <br>
  <div class="mt-30">
    <h6 class="txt-lg-lr ls-x-sm txt-black-three lh-26" [innerHTML]="localeObj.tf_Generic_maintenance_searchPageError | safeHtml"></h6>
  </div>
  <div class="lh-24 mt-30">
    <!--txt-lg-jr -->
    <h6 class="txt-lg-lr ls-x-sm txt-black-three lh-26">
      <a class="control-focus txt-md-lr txt-black-three hyl-dark txt-underline" href='#' (click)="redirectPage()"> <span [innerHTML]="localeObj.tf_Generic_view_roomsSuitesMaintenancePage | safeHtml"></span></a>
    </h6>
  </div>
</div>